#nav-container {
  background: rgb(214, 218, 7);
  height: 100px;
  width: 100;
}
.navbar .right {
  text-align: right;
}
.navbar .left {
  height: 35px;
  text-align: center;
  /* background: blue; */
}
.navbar .right a {
  text-decoration: none;
  font-size: 20px;
  cursor: not-allowed;
}
.bottom {
  width: 100%;
  height: 10px;
  background-color: black;
  margin-bottom: 100px;
}

.hidden-section {
  display: none;
}
.question {
  margin: 10px;
  font-size: 25px;
}

.hidden {
  display: none;
}

#user-type {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgba(22, 33, 44, 0.5);
  color: white;
  display: flex;
  font-size: larger;
  width: 400px;
  height: 300px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
}
#quiz-container {
  align-content: center;
  background: yellow;
  margin-top: 50px;
  margin: auto;
  width: 500px;
  height: 350px;
  padding: 100px;
  border-radius: 25px;
  overflow: hidden;
}
#name-question {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  border-radius: inherit;
  overflow: hidden;
}

#age-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}
#weight-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}
#years-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}
#martial-arts-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}
#comp-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}
#belt-question {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 25px;
  background: black;
  width: auto;
  height: auto;
  margin: 30px auto;
  text-align: center;
  border-radius: inherit;
}

.question {
  /* display: none; */
  background: black;
  padding-bottom: 35px;
  color: aliceblue;
}
input {
  border-radius: 25px;
  width: 200px;
  margin: auto;
}
#btn-container {
  display: flex;
  margin-top: 50px;
  align-items: space-evenly;
}

/* .active {
  background: white;
  cursor: pointer;
}

.active:hover {
  transform: all 5s ease-in;
} */
#back {
  align-items: center;
  color: aliceblue;
  width: 45px;
  border-radius: 15px;
  margin: auto;
  background: black;
}
#forward {
  color: aliceblue;
  align-items: center;
  width: 45px;
  border-radius: 15px;
  margin: auto;

  background: black;
}
