:root {
  --primary-color: #2c29d4d0;
  --secondary-color: #c5c330e3;
  --highlight-color: #3c8a40;
  --label-color: rgba(80, 75, 76, 0.856);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  padding: 0 10px;
  color: #e7e7e7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.strength {
  background: var();
}

/* Header */
#main-header {
  background: var(--primary-color);
}
.navbar {
  display: inline-block;
  width: 100%;

  cursor: pointer;
  justify-content: center;
}
.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  padding: 1rem;
  position: relative;
  width: 150px;
  justify-content: center;
  color: #c576f6;
}
.navbar ul li a {
  text-decoration: none;
  color: #e7e7e7;
}

/* Nested UL links */
.navbar ul li ul {
  display: none;
}

.navbar ul li:hover {
  background: #fff;
  color: #c576f6;
}
.navbar ul li:hover a {
  color: #c576f6;
}

.navbar ul li:hover ul {
  display: block;
  position: absolute;
}

.navbar ul li:hover ul {
  left: 0;
  background: var(--primary-color);
  color: #e7e7e7;
}
.navbar ul li:hover ul li ul {
  position: absolute;
  display: none;
}
.navbar ul li ul a {
  color: #c576f6;
}

.navbar ul li:hover ul li:hover ul {
  display: block;
  left: 150px;
  top: 0;
  background: var(--primary-color);
  opacity: 1;
}
.navbar .logo {
  justify-content: center;
  color: var(--label-color);
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
}

.container {
  display: flex;
  margin: auto;
  padding: 20px;
  align-content: center;
  justify-content: space-evenly;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}
.home-btn,
.cardio-btn {
  margin: 0 30px;
  margin-top: 30px;
}

.cardio,
.home,
.home-container div {
  padding: 5px;

  display: flex;
  /* width: 200px; */
  height: fit-content;

  justify-content: center;
}

.btn:hover,
.btn-dark {
  background: var(--secondary-color);
  color: var();
}

.btn-dark:hover {
  background: var(--secondary-color);
  color: var();
}

/* Section of the Date */
.date-container > div {
  display: flex;
  width: 200px;
  margin: auto;
  border: 2px solid black;
  height: fit-content;
  margin-top: 10px;
}

.date-item-2 {
  background: white;
  justify-content: center;
}

div {
  border-radius: 5px;
}
.search-title h1 {
  display: flex;
  padding-top: 50px;
  margin-left: 100px;
}
.excercise-container {
  grid-column: 3 / span 2;
  grid-gap: 1fr;
  justify-content: center;
  border: 3px solid black;
  border-radius: 15px;
  height: auto;
  width: 600px;
}

.reset-btn {
  display: none;
}

.container .btn-app-nav {
  display: flex;
}

.selector-section {
  border: solid 2px yellow;
  width: fit-content;
  align-content: center;
  margin-bottom: 20px;
}

.workout-card {
  border: 1px solid black;
  height: 150px;
  display: grid;
  padding-top: 5px;
  align-content: center;
  grid-template-columns: repeat(3, 2fr);

  margin: 20px 20px;
}

.workout-item {
  padding: 35px;
  /* justify-content: left; */
}
.workout-card label {
  padding-bottom: 20px;
  margin: auto;
}

.workout-card p {
  margin-bottom: 20px;
  margin-left: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: auto;
  /* display: none; */
}
.instructions {
  display: inline;
}

.fa-circle-question:hover {
  background: green;
}

.hidden {
  display: none;
}
.submit-container,
.submit-workout {
  width: 300px;
  margin: auto;
  justify-self: center;
}

.fa-solid .fa-watch-apple {
  color: white;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
}

.list li a:hover {
  color: var() !important;
}

.checkbox-div {
  background: rgba(238, 100, 128, 0.856);
}
/* Footer */
#main-footer .footer-container {
  color: #fff;
  background: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1rem;
}

#main-footer i {
  color: var();
}

#main-footer > div {
  justify-items: center;
  padding: 20px 0;
  background: var();
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 3;
  justify-self: center;
  text-align: center;

  padding: 0.5rem;
  background: #333;
  color: #fff;
}

#main-footer .info h3 {
  text-decoration: underline 2px yellow;
  color: white;

  padding-bottom: 6px;
}

#main-footer #suggest {
  display: inline-block;
  margin: auto;
}
#main-footer .info i {
  color: var();
}
#main-footer .info a {
  font-size: 1.4rem;
  color: var();
  margin-bottom: 10px;
}
#main-footer .info a:hover {
  text-decoration: underline 2px yellow;
  margin-bottom: 10px;
  color: var();
  transition: text-decoration 1s ease;
}

#main-footer .social {
  /* transition: all 1s ease-in; */
  color: var();
}
#main-footer .info {
  color: var();
}

#main-footer .info:hover {
  background: var() cover;
}

#hidden {
  opacity: 0;
}
#active {
  opacity: 1;
}

/* AFTER Rendered Workout */

#rendered {
  background: var();
  color: var();
}
#rendered:hover {
  background: var();
  color: var();
  transition: all 0.3s ease-in;
}

#rendered input[type="checkbox"]:checked {
  background: var();
  color: var();
}

.instruct {
  /* display: none; */
  padding: 0 10px;
  display: none;
  width: fit-content;
  font-size: 1rem;
  overflow: hidden;
  height: auto;
  /* display: flex; */
}

/* #rendered-instruct:hover {
  background: var();
  color: var();
  transition: all 0.3s ease-in;
} */

@media only screen and (max-width: 450px) {
  .nav-bar {
    background: green;
    display: block;
    padding: 10px;
  }

  .nav-item {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 0 20px;
  }

  .nav-item p {
    color: #fff;
  }

  /* body {
    display: block;
  } */
  .excercise-container {
    display: block;
    justify-content: center;
    justify-items: center;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    width: 400px;
  }

  .container .btn-app-nav {
    display: flex;
  }
  .workout-card {
    border: 3px solid black;
    height: fit-content;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    /* align-content: center; */
    grid-template-columns: repeat(3, 2fr);
    margin: 20px 20px;
  }

  .workout-item {
    grid-area: workout-item;
    padding: 35px;
    /* justify-content: left; */
  }

  .selector-section {
    display: flex;
    flex-direction: column;
    border: solid 2px yellow;
    width: fit-content;
    justify-items: center;
    align-content: center;
    margin-bottom: 20px;
  }

  #main-footer .footer-container {
    background: var();
    display: block;
  }
  #main-footer > div {
    justify-items: center;
    padding: 20px 0;
    background: var();
  }
}
